.visualization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.navbar {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  border-bottom: 2px rgb(68, 66, 66) solid;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0px 10px;
}

.legend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 15px;
}

.legend-color-block {
  display: flex;
  align-items: center;
}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  gap: 10px;
}

.track-map {
  width: 675px;
  height: 500px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AvgDiffs-Chart {
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
