.root-container {
  padding: 20px;
  color: white;
  background-color: #151519;
}

.sidebar {
  width: 300px !important;
  background-color: #151519 !important;
  border-radius: 0px 20px 20px 0px !important;
  padding: 15px;
  box-shadow: 5px 2px 20px rgba(255, 255, 255, 0.2) !important;
}

.filter-menu {
  box-sizing: border-box;
  height: 100%; 
  padding: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.filter-select {
  color: inherit !important;
  border-radius: 8px !important;
  outline: none !important;
  font-size: 14px;
}

.filter-select .filter-label {
  position: static;
  transform: none;       
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.filter-select .MuiSelect-select {
  color: white !important;
  border-radius: 4px !important;
  position: relative;
  border: 1px solid #ced4da !important;
  padding: 10px 26px 10px 12px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.filter-select .MuiSelect-select:hover {
  background-color: initial !important;
  border-color: #ced4da !important;
  box-shadow: none !important;  
}

.MuiOutlinedInput-root:hover,
.MuiFilledInput-root:hover,
.MuiInputBase-root:hover {
  border-color: #ced4da !important;
  box-shadow: none !important;  
}

.MuiSelect-select:hover {
  background-color: inherit !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ced4da !important;
}

.MuiOutlinedInput-root:hover {
  background-color: inherit !important;
}

.MuiSelect-select:hover {
  background-color: inherit !important;
}

.MuiSelect-icon {
  color: white !important;
  fill: white !important;
}

.legend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.legend-color-block {
  display: flex;
  align-items: center;
}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
  gap: 10px;
}

.track-map {
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AvgDiffs-Chart {
  width: 900px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lap-gap-evolution {
  width: 900px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}
