.visualization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.visualization-title {
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
}

.visualization-chart {
  flex: 1;
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
}
