.visualization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.navbar {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  border-bottom: 2px rgb(68, 66, 66) solid;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0px 10px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  width: 850px;
}

.track-map {
  width: 700px;
  height: 500px;
}

